<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: "What draws you to this movie?", label: "Comment:" %>
  <%= f.association :movie, collection: Movie.all %>
  <%= f.submit %>
<% end %>

<button><%= link_to "Back home", list_path(@list) %></button>
